
/*.QToolBar#MainFrameToolbar{
background:#FAFAFA;
}*/

.QToolBar{
border:none;
}

/*主菜单按钮*/
QPushButton#MainFrameBtn{
background:#2B579A;
color:white;
}

QPushButton#MainFrameBtn::hover{
background:#3164B1;
}

QPushButton#MainFrameBtn::menu-indicator{
image:none;
width:0px;
}

/*QMenu#MainFrameMenu::item{
padding:8px;
}*/

/*Action Group的标签*/
/*QLabel#ActionGroupNameLabel{
color:#5A5A5A;
}*/
