
QPushButton#MainFrameBtn{
padding:2px;
border:none;
min-height:22px;
min-width:64px;
background:#2B579A;
color:#ffffff;
}

QPushButton#MainFrameBtn::hover{
background:#3164B1;
}

QPushButton#MainFrameBtn::pressed{
background:#3164B1;
}

QPushButton#MainFrameBtn::menu-indicator{
image:none;
width:0px;
}
