QPalette{background:#FFFFFF;}*{outline:0px;color:#1E1E1E;}

QWidget[form="true"],QLabel[frameShape="1"]{
border:1px solid #B6B6B6;
border-radius:0px;
}

QWidget[form="bottom"]{
background:#E4E4E4;
}

QWidget[form="bottom"] .QFrame{
border:1px solid #1E1E1E;
}

QWidget[form="bottom"] QLabel,QWidget[form="title"] QLabel{
border-radius:0px;
color:#1E1E1E;
background:none;
border-style:none;
}

QWidget[form="title"],QWidget[nav="left"],QWidget[nav="top"] QAbstractButton{
border-style:none;
border-radius:0px;
padding:5px;
color:#1E1E1E;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #E4E4E4);
}

QWidget[nav="top"] QAbstractButton:hover,QWidget[nav="top"] QAbstractButton:pressed,QWidget[nav="top"] QAbstractButton:checked{
border-style:solid;
border-width:0px 0px 2px 0px;
padding:4px 4px 2px 4px;
border-color:@themeColorOri;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #F6F6F6,stop:1 #F6F6F6);
}

QWidget[nav="left"] QAbstractButton{
border-radius:0px;
color:#1E1E1E;
background:none;
border-style:none;
}

QWidget[nav="left"] QAbstractButton:hover{
color:#FFFFFF;
background-color:@themeColorOri;
}

QWidget[nav="left"] QAbstractButton:checked,QWidget[nav="left"] QAbstractButton:pressed{
color:#1E1E1E;
border-style:solid;
border-width:0px 0px 0px 2px;
padding:4px 4px 4px 2px;
border-color:@themeColorOri;
background-color:#FFFFFF;
}

QLabel[video="true"]{
color:#1E1E1E;
border:1px solid #B6B6B6;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #E4E4E4);
}

QLabel[video="true"]:hover{
border:1px solid @themeColorOri;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #F6F6F6,stop:1 #F6F6F6);
}

QMessageBox {
    background: #fdfdfd;
}

QTabWidget#MainFrameTab:pane{
border-left:0px;
border-right:0px;
}

QLineEdit,QTextEdit,QPlainTextEdit,QSpinBox,QDoubleSpinBox,QComboBox,QDateEdit,QTimeEdit,QDateTimeEdit{
border:1px solid #B6B6B6;
border-radius:3px;
padding:2px;
background:none;
selection-background-color:#E4E4E4;
selection-color:#1E1E1E;
}

QLineEdit, QSpinBox, QDoubleSpinBox, QComboBox {
    height: 22px;
}

QLineEdit:focus,QTextEdit:focus,QPlainTextEdit:focus,QSpinBox:focus,QDoubleSpinBox:focus,QComboBox:focus,QDateEdit:focus,QTimeEdit:focus,QDateTimeEdit:focus,QLineEdit:hover,QTextEdit:hover,QPlainTextEdit:hover,QSpinBox:hover,QDoubleSpinBox:hover,QComboBox:hover,QDateEdit:hover,QTimeEdit:hover,QDateTimeEdit:hover{
border:1px solid #B6B6B6;
}

QLineEdit[echoMode="2"]{
lineedit-password-character:9679;
}

.QFrame{
border:1px solid #B6B6B6;
border-radius:3px;
}

.QGroupBox{
border:1px solid #B6B6B6;
border-radius:5px;
margin-top:3ex;
}

.QGroupBox::title{
subcontrol-origin:margin;
position:relative;
left:10px;
}

QPushButton{
color:#1E1E1E;
padding:5px;
min-height:15px;
}

QToolButton{
color:#1E1E1E;
padding:4px;
}

QPushButton {
    max-height: 22px;
    min-width: 65px;
    background: #f0f0f0;
    border-radius: 4px;
}

QPushButton#MainFrameBtn{
padding:4px;
border:none;
min-height:22px;
}

QPushButton#MainFrameBtn::menu-indicator{
image:none;
width:0px;
}

QPushButton:hover {
    background: #ececec;
}

QPushButton:pressed {
    background: #d8d8d8;
}

QPushButton:disabled {
    color: #888888;
    background: #fafafa;
}

QToolButton {
    border-style: none;
    background: transparent;
    border-radius: 5px;
}

QToolButton:hover {
    background: #EAEAEA;
}

QToolButton:disabled {
    background: transparent;
    color: #a2a2a2;
}

QToolButton:pressed {
    background: #E4E4E4;
}

/*菜单按钮（popupMode为QToolButton::MenuButtonPopup）*/
QToolButton[popupMode="1"] {
padding-right:10px;
}

QToolButton::menu-indicator{
image:none;
}

QToolButton::menu-button {
background:transparent;
subcontrol-position: right center;
subcontrol-origin: margin;
}

QToolButton:checked, QPushButton:checked{
    background: #E4E4E4;
}

QToolButton#btnMenu,QPushButton#btnMenu_Min,QPushButton#btnMenu_Max,QPushButton#btnMenu_Close{
border-radius:3px;
color:#1E1E1E;
padding:3px;
margin:0px;
background:none;
border-style:none;
}

QToolButton#btnMenu:hover,QPushButton#btnMenu_Min:hover,QPushButton#btnMenu_Max:hover{
color:#FFFFFF;
margin:1px 1px 2px 1px;
background-color:rgba(51,127,209,230);
}

QToolBar{
border: 0px;
border-radius: 6px;
background: transparent;
}

QToolBar#MainFrameToolbar{
padding: 4px;
border-radius: 0px;
background: #f8f8f8;
}

QToolBar::separator {
    background: #d2d2d2;
    margin: 4px;
    width: 1px;
}

QRadioButton::indicator{
width:15px;
height:15px;
}

QRadioButton::indicator::unchecked{
image:url(:/qss/flatwhite/radiobutton_unchecked.png);
}

QRadioButton::indicator::unchecked:disabled{
image:url(:/qss/flatwhite/radiobutton_unchecked_disable.png);
}

QRadioButton::indicator::checked{
image:url(:/qss/flatwhite/radiobutton_checked.png);
}

QRadioButton::indicator::checked:disabled{
image:url(:/qss/flatwhite/radiobutton_checked_disable.png);
}

QGroupBox::indicator,QTreeWidget::indicator,QListWidget::indicator{
padding:0px -3px 0px 3px;
}

QCheckBox::indicator,QGroupBox::indicator,QTreeWidget::indicator,QListWidget::indicator{
width:13px;
height:13px;
}

QCheckBox::indicator:unchecked,QGroupBox::indicator:unchecked,QTreeWidget::indicator:unchecked,QListWidget::indicator:unchecked{
image:url(:/qss/flatwhite/checkbox_unchecked.png);
}

QCheckBox::indicator:unchecked:disabled,QGroupBox::indicator:unchecked:disabled,QTreeWidget::indicator:unchecked:disabled,QListWidget::indicator:disabled{
image:url(:/qss/flatwhite/checkbox_unchecked_disable.png);
}

QCheckBox::indicator:checked,QGroupBox::indicator:checked,QTreeWidget::indicator:checked,QListWidget::indicator:checked{
image:url(:/qss/flatwhite/checkbox_checked.png);
}

QCheckBox::indicator:checked:disabled,QGroupBox::indicator:checked:disabled,QTreeWidget::indicator:checked:disabled,QListWidget::indicator:checked:disabled{
image:url(:/qss/flatwhite/checkbox_checked_disable.png);
}

QCheckBox::indicator:indeterminate,QGroupBox::indicator:indeterminate,QTreeWidget::indicator:indeterminate,QListWidget::indicator:indeterminate{
image:url(:/qss/flatwhite/checkbox_parcial.png);
}

QCheckBox::indicator:indeterminate:disabled,QGroupBox::indicator:indeterminate:disabled,QTreeWidget::indicator:indeterminate:disabled,QListWidget::indicator:indeterminate:disabled{
image:url(:/qss/flatwhite/checkbox_parcial_disable.png);
}

QTimeEdit::up-button,QDateEdit::up-button,QDateTimeEdit::up-button,QDoubleSpinBox::up-button,QSpinBox::up-button{
image:url(:/qss/flatwhite/add_top.png);
width:10px;
height:10px;
padding:2px 5px 0px 0px;
}

QTimeEdit::down-button,QDateEdit::down-button,QDateTimeEdit::down-button,QDoubleSpinBox::down-button,QSpinBox::down-button{
image:url(:/qss/flatwhite/add_bottom.png);
width:10px;
height:10px;
padding:0px 5px 2px 0px;
}

QTimeEdit::up-button:pressed,QDateEdit::up-button:pressed,QDateTimeEdit::up-button:pressed,QDoubleSpinBox::up-button:pressed,QSpinBox::up-button:pressed{
top:-2px;
}
  
QTimeEdit::down-button:pressed,QDateEdit::down-button:pressed,QDateTimeEdit::down-button:pressed,QDoubleSpinBox::down-button:pressed,QSpinBox::down-button:pressed,QSpinBox::down-button:pressed{
bottom:-2px;
}

QComboBox::down-arrow,QDateEdit[calendarPopup="true"]::down-arrow,QTimeEdit[calendarPopup="true"]::down-arrow,QDateTimeEdit[calendarPopup="true"]::down-arrow{
image:url(:/qss/flatwhite/add_bottom.png);
width:10px;
height:10px;
right:2px;
}

QComboBox::drop-down,QDateEdit::drop-down,QTimeEdit::drop-down,QDateTimeEdit::drop-down{
subcontrol-origin:padding;
subcontrol-position:top right;
width:15px;
border-left-width:0px;
border-left-style:solid;
border-top-right-radius:3px;
border-bottom-right-radius:3px;
border-left-color:#B6B6B6;
}

QComboBox::drop-down:on{
top:1px;
}

QMenuBar::item{
color:#1E1E1E;
background-color:#E4E4E4;
margin:0px;
padding:3px 10px;
}

QMenuBar,QMenuBar:disabled{
color:#1E1E1E;
background-color:#E4E4E4;
border:1px solid #B6B6B6;
margin:0px;
}

QMenu,QMenu:disabled{
color:#1E1E1E;
background-color:#FFFFFF;
border:1px solid #B6B6B6;
padding:6px 0px;
}

QMenu::item{
padding:2px 20px;
height: 24px;
}

QMenu::icon {
margin-left: 20px;
}

QMenu::indicator{
width:13px;
height:13px;
}

QMenuBar::item:selected{
color:#1E1E1E;
border:0px solid #B6B6B6;
background:#F6F6F6;
}

QMenu::item:selected{
color:#1E1E1E;
border:0px;
background:#F6F6F6;
}
QMenu::separator{
height:1px;
background:#B6B6B6;
margin:4px 6px;
}

QMenu#FileMenu::item {
    height:26px;
}

QProgressBar{
min-height:10px;
background:#E4E4E4;
border-radius:5px;
text-align:center;
border:1px solid #E4E4E4;
}

QProgressBar:chunk{
border-radius:5px;
background-color:#B6B6B6;
}

QSlider::groove:horizontal{
background:#E4E4E4;
height:8px;
border-radius:4px;
}

QSlider::add-page:horizontal{
background:#E4E4E4;
height:8px;
border-radius:4px;
}

QSlider::sub-page:horizontal{
background:#B6B6B6;
height:8px;
border-radius:4px;
}

QSlider::handle:horizontal{
width:13px;
margin-top:-3px;
margin-bottom:-3px;
border-radius:6px;
background:qradialgradient(spread:pad,cx:0.5,cy:0.5,radius:0.5,fx:0.5,fy:0.5,stop:0.6 #FFFFFF,stop:0.8 #B6B6B6);
}

QSlider::groove:vertical{
width:8px;
border-radius:4px;
background:#E4E4E4;
}

QSlider::add-page:vertical{
width:8px;
border-radius:4px;
background:#E4E4E4;
}

QSlider::sub-page:vertical{
width:8px;
border-radius:4px;
background:#B6B6B6;
}

QSlider::handle:vertical{
height:14px;
margin-left:-3px;
margin-right:-3px;
border-radius:6px;
background:qradialgradient(spread:pad,cx:0.5,cy:0.5,radius:0.5,fx:0.5,fy:0.5,stop:0.6 #FFFFFF,stop:0.8 #B6B6B6);
}

QScrollBar:horizontal{
background:#E4E4E4;
padding:0px;
border-radius:6px;
max-height:12px;
}

QScrollBar::handle:horizontal{
background:#F6F6F6;
min-width:50px;
border-radius:6px;
}

QScrollBar::handle:horizontal:hover{
background:#B6B6B6;
}

QScrollBar::handle:horizontal:pressed{
background:#B6B6B6;
}

QScrollBar::add-page:horizontal{
background:none;
}

QScrollBar::sub-page:horizontal{
background:none;
}

QScrollBar::add-line:horizontal{
background:none;
}

QScrollBar::sub-line:horizontal{
background:none;
}

QScrollBar:vertical{
background:#E4E4E4;
padding:0px;
border-radius:6px;
max-width:12px;
}

QScrollBar::handle:vertical{
background:#F6F6F6;
min-height:50px;
border-radius:6px;
}

QScrollBar::handle:vertical:hover{
background:#B6B6B6;
}

QScrollBar::handle:vertical:pressed{
background:#B6B6B6;
}

QScrollBar::add-page:vertical{
background:none;
}

QScrollBar::sub-page:vertical{
background:none;
}

QScrollBar::add-line:vertical{
background:none;
}

QScrollBar::sub-line:vertical{
background:none;
}

QScrollArea{
border:0px;
}

QTreeView,QListView,QTableView,QTabWidget::pane{
border:1px solid #B6B6B6;
selection-background-color:#F6F6F6;
selection-color:#1E1E1E;
alternate-background-color:#F6F6F6;
gridline-color:#B6B6B6;
}

QTreeView::branch:closed:has-children{
margin:4px;
image:url(:/qss/flatwhite/branch_open.png);
}

QTreeView::branch:open:has-children{
margin:4px;
image:url(:/qss/flatwhite/branch_close.png);
}

QTreeView,QListView,QTableView,QSplitter::handle,QTreeView::branch{
background:#FFFFFF;
}

QTableView::item:selected,QListView::item:selected,QTreeView::item:selected{
color:#1E1E1E;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #E4E4E4);
}

QTableView::item:hover,QListView::item:hover,QTreeView::item:hover{
color:#1E1E1E;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #F6F6F6,stop:1 #F6F6F6);
}

QListView::item,QTreeView::item{
min-height:22px;
}

QHeaderView {
    background: #F4F4F4;
}

QHeaderView::section,QTableCornerButton:section{
padding:3px;
margin:0px;
color:#1E1E1E;
border:1px solid #B6B6B6;
border-left-width:0px;
border-right-width:1px;
border-top-width:0px;
border-bottom-width:1px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #F6F6F6,stop:1 #F6F6F6);
}

QTabBar::tab{
border:none;
border-bottom:0px;
color:#1E1E1E;
margin:0px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #F6F6F6,stop:1 #F6F6F6);
}

QTabBar::tab:top,QTabBar::tab:bottom{
min-height:24px;
}

QTabBar::tab:left,QTabBar::tab:right{
min-width:24px;
}

QTabBar::tab:selected,QTabBar::tab:hover{
border-style:solid;
border-color:@themeColorOri;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #E4E4E4);
}

QTabBar::tab:top,QTabBar::tab:bottom{
padding:3px 8px 3px 8px;
}

QTabBar::tab:left,QTabBar::tab:right{
padding:8px 3px 8px 3px;
}

QTabBar::tab:top:selected,QTabBar::tab:top:hover{
border-width:2px 0px 0px 0px;
}

QTabBar::tab:right:selected,QTabBar::tab:right:hover{
border-width:0px 2px 0px 0px;
}

QTabBar::tab:bottom:selected,QTabBar::tab:bottom:hover{
border-width:0px 0px 2px 0px;
}

QTabBar::tab:left:selected,QTabBar::tab:left:hover{
border-width:0px 0px 0px 2px;
}

/*QTabBar::tab:first:top:selected,QTabBar::tab:first:top:hover,QTabBar::tab:first:bottom:selected,QTabBar::tab:first:bottom:hover{
border-left-width:1px;
border-left-color:#B6B6B6;
}

QTabBar::tab:first:left:selected,QTabBar::tab:first:left:hover,QTabBar::tab:first:right:selected,QTabBar::tab:first:right:hover{
border-top-width:1px;
border-top-color:#B6B6B6;
}

QTabBar::tab:last:top:selected,QTabBar::tab:last:top:hover,QTabBar::tab:last:bottom:selected,QTabBar::tab:last:bottom:hover{
border-right-width:1px;
border-right-color:#B6B6B6;
}

QTabBar::tab:last:left:selected,QTabBar::tab:last:left:hover,QTabBar::tab:last:right:selected,QTabBar::tab:last:right:hover{
border-bottom-width:1px;
border-bottom-color:#B6B6B6;
}*/

QTabBar#MainFrameTabBar::tab {
    border: none;
}

QStatusBar::item {
    border: 0px solid #E4E4E4;
    border-radius: 3px;
}

QToolBox::tab,QGroupBox#gboxDevicePanel,QGroupBox#gboxDeviceTitle,QFrame#gboxDevicePanel,QFrame#gboxDeviceTitle{
padding:3px;
border-radius:5px;
color:#1E1E1E;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #E4E4E4);
}

QToolTip{
border:0px solid #1E1E1E;
padding:1px;
color:#1E1E1E;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #E4E4E4);
}

QToolBox::tab:selected{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #F6F6F6,stop:1 #F6F6F6);
}

QPrintPreviewDialog QToolButton{
border:0px solid #1E1E1E;
border-radius:0px;
margin:0px;
padding:3px;
background:none;
}

QColorDialog QPushButton,QFileDialog QPushButton{
min-width:80px;
}

QToolButton#qt_calendar_prevmonth{
icon-size:0px;
min-width:20px;
image:url(:/qss/flatwhite/calendar_prevmonth.png);
}

QToolButton#qt_calendar_nextmonth{
icon-size:0px;
min-width:20px;
image:url(:/qss/flatwhite/calendar_nextmonth.png);
}

QToolButton#qt_calendar_prevmonth,QToolButton#qt_calendar_nextmonth,QToolButton#qt_calendar_monthbutton,QToolButton#qt_calendar_yearbutton{
border:0px solid #1E1E1E;
border-radius:3px;
margin:3px 3px 3px 3px;
padding:3px;
background:none;
}

QToolButton#qt_calendar_prevmonth:hover,QToolButton#qt_calendar_nextmonth:hover,QToolButton#qt_calendar_monthbutton:hover,QToolButton#qt_calendar_yearbutton:hover,QToolButton#qt_calendar_prevmonth:pressed,QToolButton#qt_calendar_nextmonth:pressed,QToolButton#qt_calendar_monthbutton:pressed,QToolButton#qt_calendar_yearbutton:pressed{
border:1px solid #B6B6B6;
}

QCalendarWidget QSpinBox#qt_calendar_yearedit{
margin:2px;
}

QCalendarWidget QToolButton::menu-indicator{
image:None;
}

QCalendarWidget QTableView{
border-width:0px;
}

QCalendarWidget QWidget#qt_calendar_navigationbar{
border:1px solid #B6B6B6;
border-width:1px 1px 0px 1px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #E4E4E4,stop:1 #E4E4E4);
}

QComboBox QAbstractItemView::item{
min-height:20px;
min-width:10px;
}

QTableView[model="true"]::item{
padding:0px;
margin:0px;
}

QTableView QLineEdit,QTableView QComboBox,QTableView QSpinBox,QTableView QDoubleSpinBox,QTableView QDateEdit,QTableView QTimeEdit,QTableView QDateTimeEdit{
border-width:0px;
border-radius:0px;
}

QTableView QLineEdit:focus,QTableView QComboBox:focus,QTableView QSpinBox:focus,QTableView QDoubleSpinBox:focus,QTableView QDateEdit:focus,QTableView QTimeEdit:focus,QTableView QDateTimeEdit:focus{
border-width:0px;
border-radius:0px;
}

QLineEdit,QTextEdit,QPlainTextEdit,QSpinBox,QDoubleSpinBox,QComboBox,QDateEdit,QTimeEdit,QDateTimeEdit{
background:#FFFFFF;
}

QStatusBar {
    background: #f8f8f8;
    border-top: 1px solid #d2d2d2;
}

*:disabled{
color:#888888;
background:#FFFFFF;
border-color:#E4E4E4;
}

/*TextColor:#1E1E1E*/
/*PanelColor:#FFFFFF*/
/*BorderColor:#B6B6B6*/
/*NormalColorStart:#E4E4E4*/
/*NormalColorEnd:#E4E4E4*/
/*DarkColorStart:#F6F6F6*/
/*DarkColorEnd:#F6F6F6*/
/*HighColor:@themeColorOri*/
