QPalette{background:#191919;}*{outline:0px;color:#FFFFFF;}

QWidget[form="true"],QLabel[frameShape="1"]{
border:1px solid #535353;
border-radius:0px;
}

QWidget[form="bottom"]{
background:#404244;
}

QWidget[form="bottom"] .QFrame{
border:1px solid #FFFFFF;
}

QWidget[form="bottom"] QLabel,QWidget[form="title"] QLabel{
border-radius:0px;
color:#FFFFFF;
background:none;
border-style:none;
}

QWidget[form="title"],QWidget[nav="left"],QWidget[nav="top"] QAbstractButton{
border-style:none;
border-radius:0px;
padding:5px;
color:#FFFFFF;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #404244,stop:1 #404244);
}

QWidget[nav="top"] QAbstractButton:hover,QWidget[nav="top"] QAbstractButton:pressed,QWidget[nav="top"] QAbstractButton:checked{
border-style:solid;
border-width:0px 0px 2px 0px;
padding:4px 4px 2px 4px;
border-color:#00BB9E;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #262829,stop:1 #262829);
}

QWidget[nav="left"] QAbstractButton{
border-radius:0px;
color:#FFFFFF;
background:none;
border-style:none;
}

QWidget[nav="left"] QAbstractButton:hover{
color:#FFFFFF;
background-color:#00BB9E;
}

QWidget[nav="left"] QAbstractButton:checked,QWidget[nav="left"] QAbstractButton:pressed{
color:#FFFFFF;
border-style:solid;
border-width:0px 0px 0px 2px;
padding:4px 4px 4px 2px;
border-color:#00BB9E;
background-color:#191919;
}

QWidget[video="true"] QLabel{
color:#FFFFFF;
border:1px solid #535353;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #404244,stop:1 #404244);
}

QWidget[video="true"] QLabel:focus{
border:1px solid #00BB9E;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #262829,stop:1 #262829);
}

QMessageBox {
    background: #282828;
}

QTabWidget#MainFrameTab:pane{
border-left:0px;
border-right:0px;
}

QLineEdit,QTextEdit,QPlainTextEdit,QSpinBox,QDoubleSpinBox,QComboBox,QDateEdit,QTimeEdit,QDateTimeEdit{
border:1px solid #535353;
border-radius:3px;
padding:2px;
background:none;
selection-background-color:#404244;
selection-color:#FFFFFF;
}

QLineEdit, QSpinBox, QDoubleSpinBox, QComboBox{
height:22px;
}

QLineEdit:focus,QTextEdit:focus,QPlainTextEdit:focus,QSpinBox:focus,QDoubleSpinBox:focus,QComboBox:focus,QDateEdit:focus,QTimeEdit:focus,QDateTimeEdit:focus,QLineEdit:hover,QTextEdit:hover,QPlainTextEdit:hover,QSpinBox:hover,QDoubleSpinBox:hover,QComboBox:hover,QDateEdit:hover,QTimeEdit:hover,QDateTimeEdit:hover{
border:1px solid #535353;
}

QLineEdit[echoMode="2"]{
lineedit-password-character:9679;
}

.QFrame{
border:1px solid #535353;
border-radius:3px;
}

.QGroupBox{
border:1px solid #535353;
border-radius:5px;
margin-top:3ex;
}

.QGroupBox::title{
subcontrol-origin:margin;
position:relative;
left:10px;
}

QToolButton{
color:#FFFFFF;
padding:4px;
}

QPushButton {
color:#FFFFFF;
padding:5px;
min-height:15px;
max-height: 22px;
min-width: 65px;
background: #333333;
/*border: 1px solid #9b9b9b;*/
border-radius: 4px;
}

QPushButton#MainFrameBtn{
padding:4px;
border:none;
min-height:22px;
}

QPushButton#MainFrameBtn::menu-indicator{
image:none;
width:0px;
}

QPushButton:hover {
    background: #454545;
}

QPushButton:pressed {
    background: #666666;
}

QPushButton:disabled {
    color: #a2a2a2;
    background: #262626;
}

QToolButton {
    border-style: none;
    background: transparent;
    border-radius: 5px;
}

QToolButton:hover {
    background: #535353;
}

QToolButton:disabled {
    background: transparent;
    color: #a2a2a2;
}

QToolButton:pressed {
    background: #404040;
}

/*菜单按钮（popupMode为QToolButton::MenuButtonPopup）*/
QToolButton[popupMode="1"] {
padding-right:10px;
}

QToolButton::menu-indicator{
image:none;
}

QToolButton::menu-button {
background:transparent;
subcontrol-position: right center;
subcontrol-origin: margin;
}

QToolButton:checked, QPushButton:checked{
    background: #484848;
}

QToolButton#btnMenu,QPushButton#btnMenu_Min,QPushButton#btnMenu_Max,QPushButton#btnMenu_Close{
border-radius:3px;
color:#FFFFFF;
padding:3px;
margin:0px;
background:none;
border-style:none;
}

QToolButton#btnMenu:hover,QPushButton#btnMenu_Min:hover,QPushButton#btnMenu_Max:hover{
color:#FFFFFF;
margin:1px 1px 2px 1px;
background-color:rgba(51,127,209,230);
}

QToolBar{
border: 0px;
border-radius: 6px;
background: transparent;
}

QToolBar#MainFrameToolbar{
padding: 4px;
border-radius: 0px;
background: #2c2c2c;
}

QToolBar::separator{
background: #535353;
margin: 4px;
width: 1px;
}

QPushButton#btnMenu_Close:hover{
color:#FFFFFF;
margin:1px 1px 2px 1px;
background-color:rgba(238,0,0,128);
}

QRadioButton::indicator{
width:15px;
height:15px;
}

QRadioButton::indicator::unchecked{
image:url(:/qss/flatblack/radiobutton_unchecked.png);
}

QRadioButton::indicator::unchecked:disabled{
image:url(:/qss/flatblack/radiobutton_unchecked_disable.png);
}

QRadioButton::indicator::checked{
image:url(:/qss/flatblack/radiobutton_checked.png);
}

QRadioButton::indicator::checked:disabled{
image:url(:/qss/flatblack/radiobutton_checked_disable.png);
}

QGroupBox::indicator,QTreeWidget::indicator,QListWidget::indicator{
padding:0px -3px 0px 3px;
}

QCheckBox::indicator,QGroupBox::indicator,QTreeWidget::indicator,QListWidget::indicator{
width:13px;
height:13px;
}

QCheckBox::indicator:unchecked,QGroupBox::indicator:unchecked,QTreeWidget::indicator:unchecked,QListWidget::indicator:unchecked{
border-image:url(:/qss/flatblack/checkbox_unchecked.png);
}

QCheckBox::indicator:unchecked:disabled,QGroupBox::indicator:unchecked:disabled,QTreeWidget::indicator:unchecked:disabled,QListWidget::indicator:disabled{
border-image:url(:/qss/flatblack/checkbox_unchecked_disable.png);
}

QCheckBox::indicator:checked,QGroupBox::indicator:checked,QTreeWidget::indicator:checked,QListWidget::indicator:checked{
border-image:url(:/qss/flatblack/checkbox_checked.png);
}

QCheckBox::indicator:checked:disabled,QGroupBox::indicator:checked:disabled,QTreeWidget::indicator:checked:disabled,QListWidget::indicator:checked:disabled{
border-image:url(:/qss/flatblack/checkbox_checked_disable.png);
}

QCheckBox::indicator:indeterminate,QGroupBox::indicator:indeterminate,QTreeWidget::indicator:indeterminate,QListWidget::indicator:indeterminate{
border-image:url(:/qss/flatblack/checkbox_parcial.png);
}

QCheckBox::indicator:indeterminate:disabled,QGroupBox::indicator:indeterminate:disabled,QTreeWidget::indicator:indeterminate:disabled,QListWidget::indicator:indeterminate:disabled{
border-image:url(:/qss/flatblack/checkbox_parcial_disable.png);
}

QTimeEdit::up-button,QDateEdit::up-button,QDateTimeEdit::up-button,QDoubleSpinBox::up-button,QSpinBox::up-button{
image:url(:/qss/flatblack/add_top.png);
width:10px;
height:10px;
padding:2px 5px 0px 0px;
}

QTimeEdit::down-button,QDateEdit::down-button,QDateTimeEdit::down-button,QDoubleSpinBox::down-button,QSpinBox::down-button{
image:url(:/qss/flatblack/add_bottom.png);
width:10px;
height:10px;
padding:0px 5px 2px 0px;
}

QTimeEdit::up-button:pressed,QDateEdit::up-button:pressed,QDateTimeEdit::up-button:pressed,QDoubleSpinBox::up-button:pressed,QSpinBox::up-button:pressed{
top:-2px;
}
  
QTimeEdit::down-button:pressed,QDateEdit::down-button:pressed,QDateTimeEdit::down-button:pressed,QDoubleSpinBox::down-button:pressed,QSpinBox::down-button:pressed,QSpinBox::down-button:pressed{
bottom:-2px;
}

QComboBox::down-arrow,QDateEdit[calendarPopup="true"]::down-arrow,QTimeEdit[calendarPopup="true"]::down-arrow,QDateTimeEdit[calendarPopup="true"]::down-arrow{
image:url(:/qss/flatblack/add_bottom.png);
width:10px;
height:10px;
right:2px;
}

QComboBox::drop-down,QDateEdit::drop-down,QTimeEdit::drop-down,QDateTimeEdit::drop-down{
subcontrol-origin:padding;
subcontrol-position:top right;
width:15px;
border-left-width:0px;
border-left-style:solid;
border-top-right-radius:3px;
border-bottom-right-radius:3px;
border-left-color:#535353;
}

QComboBox::drop-down:on{
top:1px;
}

QMenuBar::item{
color:#FFFFFF;
background-color:#404244;
margin:0px;
padding:3px 10px;
}

QMenuBar,QMenuBar:disabled{
color:#FFFFFF;
background-color:#404244;
border:1px solid #535353;
margin:0px;
}

QMenu,QMenu:disabled{
color:#FFFFFF;
background-color:#2B2B2B;
border:1px solid #A0A0A0;
padding:6px 0px;
}


QMenu::item{
padding:2px 20px;
height: 24px;
}

QMenu::icon {
margin-left: 20px;
}

QMenu::indicator{
width:13px;
height:13px;
}

QMenuBar::item:selected{
color:#FFFFFF;
border:0px solid #535353;
background:#262829;
}

QMenu::item:selected{
color:#FFFFFF;
border:0px;
background:#414141;
}

QMenu::separator{
height:1px;
background:#535353;
margin:4px 6px;
}

QMenu#FileMenu::item {
    height:26px;
}

QProgressBar{
min-height:10px;
background:#404244;
border-radius:5px;
text-align:center;
border:1px solid #404244;
}

QProgressBar:chunk{
border-radius:5px;
background-color:#535353;
}

QSlider::groove:horizontal{
background:#404244;
height:8px;
border-radius:4px;
}

QSlider::add-page:horizontal{
background:#404244;
height:8px;
border-radius:4px;
}

QSlider::sub-page:horizontal{
background:#535353;
height:8px;
border-radius:4px;
}

QSlider::handle:horizontal{
width:13px;
margin-top:-3px;
margin-bottom:-3px;
border-radius:6px;
background:qradialgradient(spread:pad,cx:0.5,cy:0.5,radius:0.5,fx:0.5,fy:0.5,stop:0.6 #191919,stop:0.8 #535353);
}

QSlider::groove:vertical{
width:8px;
border-radius:4px;
background:#404244;
}

QSlider::add-page:vertical{
width:8px;
border-radius:4px;
background:#404244;
}

QSlider::sub-page:vertical{
width:8px;
border-radius:4px;
background:#535353;
}

QSlider::handle:vertical{
height:14px;
margin-left:-3px;
margin-right:-3px;
border-radius:6px;
background:qradialgradient(spread:pad,cx:0.5,cy:0.5,radius:0.5,fx:0.5,fy:0.5,stop:0.6 #191919,stop:0.8 #535353);
}

QScrollBar:horizontal{
background:#404244;
padding:0px;
border-radius:6px;
max-height:12px;
}

QScrollBar::handle:horizontal{
background:#262829;
min-width:50px;
border-radius:6px;
}

QScrollBar::handle:horizontal:hover{
background:#535353;
}

QScrollBar::handle:horizontal:pressed{
background:#535353;
}

QScrollBar::add-page:horizontal{
background:none;
}

QScrollBar::sub-page:horizontal{
background:none;
}

QScrollBar::add-line:horizontal{
background:none;
}

QScrollBar::sub-line:horizontal{
background:none;
}

QScrollBar:vertical{
background:#404244;
padding:0px;
border-radius:6px;
max-width:12px;
}

QScrollBar::handle:vertical{
background:#262829;
min-height:50px;
border-radius:6px;
}

QScrollBar::handle:vertical:hover{
background:#535353;
}

QScrollBar::handle:vertical:pressed{
background:#535353;
}

QScrollBar::add-page:vertical{
background:none;
}

QScrollBar::sub-page:vertical{
background:none;
}

QScrollBar::add-line:vertical{
background:none;
}

QScrollBar::sub-line:vertical{
background:none;
}

QScrollArea{
border:0px;
}

QTreeView,QListView,QTableView,QTabWidget::pane{
border:1px solid #535353;
selection-background-color:#262829;
selection-color:#FFFFFF;
alternate-background-color:#262829;
gridline-color:#535353;
}

QTreeView::branch:closed:has-children{
margin:4px;
border-image:url(:/qss/flatblack/branch_open.png);
}

QTreeView::branch:open:has-children{
margin:4px;
border-image:url(:/qss/flatblack/branch_close.png);
}

QTreeView,QListView,QTableView,QSplitter::handle,QTreeView::branch{
background:#191919;
}

QTableView::item:selected,QListView::item:selected,QTreeView::item:selected{
color:#FFFFFF;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #404244,stop:1 #404244);
}

QTableView::item:hover,QListView::item:hover,QTreeView::item:hover{
color:#FFFFFF;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #262829,stop:1 #262829);
}

QTableView::item,QListView::item,QTreeView::item{
padding:1px;
margin:0px;
}

QHeaderView {
    background: #1e1e1e;
}

QHeaderView::section, QTableCornerButton:section {
    padding: 3px;
    margin: 0px;
    color: #FFFFFF;
    border: 1px solid #535353;
    border-left-width: 0px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    background: #282828;
}

QTabBar::tab{
border:none;
border-bottom:0px;
color:#FFFFFF;
margin:0px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #262829,stop:1 #262829);
min-height:24px;
}

QTabBar::tab:selected,QTabBar::tab:hover{
border-style:solid;
border-color:#00BB9E;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #404244,stop:1 #404244);
}

QTabBar::tab:top,QTabBar::tab:bottom{
padding:3px 8px 3px 8px;
}

QTabBar::tab:left,QTabBar::tab:right{
padding:8px 3px 8px 3px;
}

QTabBar::tab:top:selected,QTabBar::tab:top:hover{
border-width:2px 0px 0px 0px;
}

QTabBar::tab:right:selected,QTabBar::tab:right:hover{
border-width:0px 0px 0px 2px;
}

QTabBar::tab:bottom:selected,QTabBar::tab:bottom:hover{
border-width:0px 0px 2px 0px;
}

QTabBar::tab:left:selected,QTabBar::tab:left:hover{
border-width:0px 2px 0px 0px;
}

/*QTabBar::tab:first:top:selected,QTabBar::tab:first:top:hover,QTabBar::tab:first:bottom:selected,QTabBar::tab:first:bottom:hover{
border-left-width:1px;
border-left-color:#535353;
}

QTabBar::tab:first:left:selected,QTabBar::tab:first:left:hover,QTabBar::tab:first:right:selected,QTabBar::tab:first:right:hover{
border-top-width:1px;
border-top-color:#535353;
}

QTabBar::tab:last:top:selected,QTabBar::tab:last:top:hover,QTabBar::tab:last:bottom:selected,QTabBar::tab:last:bottom:hover{
border-right-width:1px;
border-right-color:#535353;
}*/

QTabBar::tab:last:left:selected,QTabBar::tab:last:left:hover,QTabBar::tab:last:right:selected,QTabBar::tab:last:right:hover{
border-bottom-width:1px;
border-bottom-color:#535353;
}

QTabBar#MainFrameTabBar::tab {
    border: none;
}

QStatusBar::item {
    border: 0px solid #404244;
    border-radius: 3px;
}

QToolBox::tab,QGroupBox#gboxDevicePanel,QGroupBox#gboxDeviceTitle,QFrame#gboxDevicePanel,QFrame#gboxDeviceTitle{
padding:3px;
border-radius:5px;
color:#FFFFFF;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #404244,stop:1 #404244);
}

QToolTip{
border:0px solid #FFFFFF;
padding:1px;
color:#FFFFFF;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #404244,stop:1 #404244);
}

QToolBox::tab:selected{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #262829,stop:1 #262829);
}

QPrintPreviewDialog QToolButton{
border:0px solid #FFFFFF;
border-radius:0px;
margin:0px;
padding:3px;
background:none;
}

QColorDialog QPushButton,QFileDialog QPushButton{
min-width:80px;
}

QToolButton#qt_calendar_prevmonth{
icon-size:0px;
min-width:20px;
image:url(:/qss/flatblack/calendar_prevmonth.png);
}

QToolButton#qt_calendar_nextmonth{
icon-size:0px;
min-width:20px;
image:url(:/qss/flatblack/calendar_nextmonth.png);
}

QToolButton#qt_calendar_prevmonth,QToolButton#qt_calendar_nextmonth,QToolButton#qt_calendar_monthbutton,QToolButton#qt_calendar_yearbutton{
border:0px solid #FFFFFF;
border-radius:3px;
margin:3px 3px 3px 3px;
padding:3px;
background:none;
}

QToolButton#qt_calendar_prevmonth:hover,QToolButton#qt_calendar_nextmonth:hover,QToolButton#qt_calendar_monthbutton:hover,QToolButton#qt_calendar_yearbutton:hover,QToolButton#qt_calendar_prevmonth:pressed,QToolButton#qt_calendar_nextmonth:pressed,QToolButton#qt_calendar_monthbutton:pressed,QToolButton#qt_calendar_yearbutton:pressed{
border:1px solid #535353;
}

QCalendarWidget QSpinBox#qt_calendar_yearedit{
margin:2px;
}

QCalendarWidget QToolButton::menu-indicator{
image:None;
}

QCalendarWidget QTableView{
border-width:0px;
}

QCalendarWidget QWidget#qt_calendar_navigationbar{
border:1px solid #535353;
border-width:1px 1px 0px 1px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #404244,stop:1 #404244);
}

QComboBox QAbstractItemView::item{
min-height:20px;
min-width:10px;
}

QTableView[model="true"]::item{
padding:0px;
margin:0px;
}

QTableView QLineEdit,QTableView QComboBox,QTableView QSpinBox,QTableView QDoubleSpinBox,QTableView QDateEdit,QTableView QTimeEdit,QTableView QDateTimeEdit{
border-width:0px;
border-radius:0px;
}

QTableView QLineEdit:focus,QTableView QComboBox:focus,QTableView QSpinBox:focus,QTableView QDoubleSpinBox:focus,QTableView QDateEdit:focus,QTableView QTimeEdit:focus,QTableView QDateTimeEdit:focus{
border-width:0px;
border-radius:0px;
}

QLineEdit,QTextEdit,QPlainTextEdit,QSpinBox,QDoubleSpinBox,QComboBox,QDateEdit,QTimeEdit,QDateTimeEdit{
background:#191919;
}

*:disabled{
color:#969696;
background:#191919;
border-color:#404244;
}

/*TextColor:#FFFFFF*/
/*PanelColor:#191919*/
/*BorderColor:#535353*/
/*NormalColorStart:#404244*/
/*NormalColorEnd:#404244*/
/*DarkColorStart:#262829*/
/*DarkColorEnd:#262829*/
/*HighColor:#00BB9E*/
