QPalette{background:#b4b4b4;}*{outline:0px;color:#000000;}

QMessageBox {
    background: #ebebeb;
}

QToolBar#MainFrameToolbar{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #cecece,stop:0.5 #b9b9b9,stop:1 #a4a4a4)
}

QToolBar#MainFrameToolbar::separator{
background:#C6C6C6;
margin: 4px;
width: 1px;
}

QTabWidget#MainFrameTab{
background:#4d4d4d;
}

QTabWidget#MainFrameTab:pane{
border:1px solid #6f6f6f;
top: -1px;
border-left:0px;
border-right:0px;
}

QToolBar#MainFrameCornerBar QToolButton {
    color: #ffffff;
}

QToolBar#MainFrameCornerBar QToolButton:hover, QToolBar#MainFrameCornerBar QToolButton:pressed, QToolBar#MainFrameCornerBar QToolButton:checked{
color: #000000;
}

.QGroupBox{
border:1px solid #919191;
margin-top:3ex;
border-radius:2px;
}

.QGroupBox::title{
subcontrol-origin:margin;
position:relative;
left:10px;
margin:4px;
}

QLineEdit,QTextEdit,QPlainTextEdit,QSpinBox,QDoubleSpinBox,QComboBox,QDateEdit,QTimeEdit,QDateTimeEdit{
border:1px solid #919191;
background:#e8e8e8;
selection-background-color:#91afde;
selection-color:#000000;
}

QLineEdit, QSpinBox, QDoubleSpinBox, QComboBox {
height: 22px;
}

QLineEdit,QTextEdit,QPlainTextEdit,QSpinBox,QDoubleSpinBox,QComboBox,QDateEdit,QTimeEdit,QDateTimeEdit,QLineEdit,QTextEdit,QPlainTextEdit,QSpinBox,QDoubleSpinBox,QComboBox,QDateEdit,QTimeEdit,QDateTimeEdit{
    border-radius:2px;
}

QLineEdit:focus,QTextEdit:focus,QPlainTextEdit:focus,QSpinBox:focus,QDoubleSpinBox:focus,QComboBox:focus,QDateEdit:focus,QTimeEdit:focus,QDateTimeEdit:focus,QLineEdit:hover,QTextEdit:hover,QPlainTextEdit:hover,QSpinBox:hover,QDoubleSpinBox:hover,QComboBox:hover,QDateEdit:hover,QTimeEdit:hover,QDateTimeEdit:hover{
    border:1px solid #626262;
}

QPushButton{
border:1px solid #ABABAB;
padding:4px;
min-height:15px;
max-height: 22px;
min-width: 65px;
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #d9e1e2,stop:0.5 #d1d7d9,stop:1 #e0e5e7);
border-radius:2px;
}

QPushButton#MainFrameBtn{
padding:2px;
border:1px solid #1f48a1;
min-height:22px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #4487e5,stop:0.2 #2d65bb,stop:0.5 #2b61b4,stop:1 #4b8ee1);
color:#ffffff;
}

QPushButton#MainFrameBtn::hover{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #55a1f1,stop:0.2 #3f78d4,stop:0.5 #346abd,stop:1 #5a9be3);
}

QPushButton#MainFrameBtn::pressed{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #2f6cbf,stop:0.2 #255daf,stop:0.5 #285eae,stop:1 #53a1ec);
}

QPushButton#MainFrameBtn::menu-indicator{
image:none;
width:0px;
}

QToolButton {
    border-style: none;
    background: transparent;
    padding:2px;
    border-radius:2px;
}

QToolButton:hover,QPushButton:hover {
    background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #fbedb3,stop:0.5 #fae289,stop:1 #fcf8d9);
    border:1px solid #f0cd52;
    padding: 1px;
}

QToolButton:disabled {
    background: transparent;
    color: #5a5a5a;
}

QPushButton:disabled{
    background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #f3f3f3,stop:0.5 #c8c8c8,stop:1 #d1d0d1);
    color: #5a5a5a;
}

QToolButton:pressed,QPushButton:pressed {
    background: #ffe48a;
    border:1px solid #c28636;
    padding: 1px;
}

/*菜单按钮（popupMode为QToolButton::MenuButtonPopup）*/
QToolButton[popupMode="1"] {
padding-right:10px;
}

QToolButton::menu-indicator{
image:none;
}

QToolButton::menu-button {
background:transparent;
subcontrol-position: right center;
subcontrol-origin: margin;
}

QToolButton::menu-button:hover {
border-left:1px solid #f0cd52;
}

QToolButton::menu-button:pressed {
border-left:1px solid #c28636;
}


QToolButton:checked,QPushButton:checked {
    background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #ffe575,stop:0.5 #ffd86c,stop:1 #fff27e);
    border:1px solid #c28636;
    padding: 1px;
}

QMenu,QMenu:disabled{
background-color:#FFFFFF;
border:1px solid #B6B6B6;
padding:2px 2px;
border-radius:2px;
}

QMenu::item{
padding:2px 14px;
padding-right: 24px;
height: 20px;
}

QMenu::icon {
margin-left: 14px;
}

QMenu::indicator{
width:16px;
height:16px;
}

QMenu::item:selected{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #fbedb3,stop:0.5 #fae289,stop:1 #fcf8d9);
border:1px solid #f1ca58;
border-radius:2px;
}
QMenu::separator{
height:1px;
background:#D4D4D4;
margin:4px 6px;
}


QTimeEdit::up-button,QDateEdit::up-button,QDateTimeEdit::up-button,QDoubleSpinBox::up-button,QSpinBox::up-button{
image:url(:/qss/office2013/add_top.png);
width:10px;
height:10px;
padding:1px 3px 1px 3px;
}

QTimeEdit::down-button,QDateEdit::down-button,QDateTimeEdit::down-button,QDoubleSpinBox::down-button,QSpinBox::down-button{
image:url(:/qss/office2013/add_bottom.png);
width:10px;
height:10px;
padding:1px 3px 1px 3px;
}


QTimeEdit::up-button:hover,QDateEdit::up-button:hover,QDateTimeEdit::up-button:hover,QDoubleSpinBox::up-button:hover,QSpinBox::up-button:hover,QTimeEdit::down-button:hover,QDateEdit::down-button:hover,QDateTimeEdit::down-button:hover,QDoubleSpinBox::down-button:hover,QSpinBox::down-button:hover,QSpinBox::down-button:hover{
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #fbedb3,stop:0.5 #fae289,stop:1 #fcf8d9);
border:1px solid #f0cd52;
}

QTimeEdit::up-button:pressed,QDateEdit::up-button:pressed,QDateTimeEdit::up-button:pressed,QDoubleSpinBox::up-button:pressed,QSpinBox::up-button:pressed,QTimeEdit::down-button:pressed,QDateEdit::down-button:pressed,QDateTimeEdit::down-button:pressed,QDoubleSpinBox::down-button:pressed,QSpinBox::down-button:pressed,QSpinBox::down-button:pressed{
background: #ffe48a;
border:1px solid #c28636;
}

QComboBox::down-arrow:hover,QDateEdit::down-arrow:hover,QDateTimeEdit::down-arrow:hover{
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #fbedb3,stop:0.5 #fae289,stop:1 #fcf8d9);
border:1px solid #f0cd52;
border-radius:2px;
}

QComboBox::down-arrow:pressed,QDateEdit::down-arrow:pressed,QDateTimeEdit::down-arrow:pressed{
background: #ffe48a;
border:1px solid #c28636;
border-radius:2px;
}

QComboBox::down-arrow,QDateEdit[calendarPopup="true"]::down-arrow,QTimeEdit[calendarPopup="true"]::down-arrow,QDateTimeEdit[calendarPopup="true"]::down-arrow{
image:url(:/qss/office2013/add_bottom.png);
width:12px;
height:20px;
right:2px;
margin-left:4px;
}

QComboBox::drop-down,QDateEdit::drop-down,QTimeEdit::drop-down,QDateTimeEdit::drop-down{
subcontrol-origin:padding;
subcontrol-position:top right;
width:15px;
border-left-width:0px;
border-left-style:solid;
border-left-color:#B6B6B6;
}

QComboBox QAbstractItemView{
selection-background-color:#cccccc;
selection-color:#000000;
}

QTableView::item:selected{
background:#D7E2F3;
color:#000000;
}

QHeaderView {
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #e8e8e8,stop:1 #e0e0e0);
}

QHeaderView::section,QTableCornerButton:section{
padding:3px;
margin:0px;
border:1px solid #828790;
border-left-width:0px;
border-right-width:1px;
border-top-width:0px;
border-bottom-width:1px;
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #e8e8e8,stop:1 #e0e0e0);
}

QHeaderView::section:selected{
background:#AABFDF
}

QHeaderView::section:pressed{
background:#AABFDF
}

QTabBar::tab{
border:none;
background:transparent;
min-height:24px;
padding:0px 6px;
border-top-left-radius:2px;
border-top-right-radius:2px;
}

QTabBar::tab:selected{
border:1px solid #777777;
border-bottom:0px;
background:#d5d5d5;
}

QTabBar::tab:hover:!selected{
border:1px solid #777777;
border-bottom-width:0px;
background:transparent;
}

QTabBar::tab:hover:selected{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #fcdd82,stop:1 #f2eed7);
border:1px solid #df9f02;
border-bottom-width:0px;
}

QTabWidget:pane{
border:1px solid #777777;
top: -1px;
background:#d5d5d5;
}

QTabBar#MainFrameTabBar::tab {
color: #ffffff;
background: #4d4d4d;
padding:0px 10px;
margin:0px 1px;
}

QTabBar#MainFrameTabBar::tab:selected{
border:1px solid #5e5e5e;
border-bottom:0px;
color:#000000;
background:#cecece;
}

QTabBar#MainFrameTabBar::tab:hover:!selected{
color:#ffffff;
border:1px solid #b4b4b4;
border-bottom-width:0px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #969696,stop:1 #4d4d4d);
}

QListView,QTreeView,QTableView{
border:1px solid #828790;
}

QListView::item:hover,QTreeView::item:hover{
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #fbedb3,stop:0.5 #fae289,stop:1 #fcf8d9);
border:1px solid #f0cd52;
}

QListView::item:selected,QTreeView::item:selected{
color:#1e395b;
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #ffe575,stop:0.5 #ffd86c,stop:1 #fff27e);
border:1px solid #c1a34d;
}

QListView::item:hover, QListView::item:selected {
    border-radius:2px;
}

QTreeView::item:selected, QTreeView::item:hover {
    border-left-width: 0px;
    border-right-width: 0px;
}

QTreeView::item:first:selected, QTreeView::item:first:hover {
    border-left-width: 1px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

QTreeView::item:last:selected, QTreeView::item:last:hover {
    border-right-width: 1px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

QTreeView::item:only-one:selected, QTreeView::item:only-one:hover {
    border-width: 1px;
    border-radius: 2px;
}

QCheckBox::indicator, QGroupBox::indicator, QTreeView::indicator, QListView::indicator {
    width: 12px;
    height: 12px;
    background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #e8e9eb,stop:1 #f2f2f3);
    border: 1px solid #aabfdf;
}

QRadioButton::indicator {
    width: 12px;
    height: 12px;
    background: #f4f4f4;
    border: 1px solid #888a8b;
    border-radius: 7px;
}

QCheckBox::indicator:hover, QGroupBox::indicator:hover, QTreeView::indicator:hover, QListView::indicator:hover, QRadioButton::indicator:hover {
    background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #faecc8,stop:1 #fdf6e4);
    border: 1px solid #cf9037;
}

QCheckBox::indicator:checked, QGroupBox::indicator:checked, QTreeView::indicator:checked, QListView::indicator:checked {
    image: url(:/qss/office2010/checkbox.png);
}

QCheckBox::indicator:indeterminate, QGroupBox::indicator:indeterminate, QTreeView::indicator:indeterminate, QListView::indicator:indeterminate {
    image: url(:/qss/office2010/checkbox_parcial.png);
}

QRadioButton::indicator:checked {
    image: url(:/qss/office2010/radiobutton.png);
}

QCheckBox::indicator:disabled, QGroupBox::indicator:disabled, QTreeView::indicator:disabled, QListView::indicator:disabled, QRadioButton::indicator:disabled {
    background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #f8f8f9,stop:1 #fbfbfb);
    border: 1px solid #b6b8ba;
}

QStatusBar{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #494949,stop:1 #323232);
color:#ffffff;
}

*:disabled {
    color: #5a5a5a;
}
