QPalette{background:#bbcee6;}*{outline:0px;color:#1e395b;}

QMessageBox {
    background: #c6d9ef;
}

QToolBar {
    background: transparent;
    border: none;
}

QToolBar#MainFrameToolbar{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #eff6fd,stop:1 #deeaf7);
}

/*Ribbon分隔条*/
QToolBar#MainFrameToolbar::separator{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #e2ebf6, stop:0.5 #acbed9, stop:1 #93a7c3);
margin:0px 4px;
width: 1px;
}

/*Ribbon子工具栏分隔条*/
QToolBar#MainFrameToolbar QToolBar::separator{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #d0dcec, stop:0.5 #91a6c2, stop:1 #d0dcec);
margin:4px;
width: 1px;
}

/*快速启动栏分隔线*/
QToolBar#MainFrameCornerBar::separator{
margin:6px 4px;
width: 1px;
background:#848d98;
}

QWidget#MainFrameActionGroup:hover{
background: qradialgradient(spread:pad,cx:0.5, cy:1, radius:1, fx:0.5, fy:1, stop:0 #ecf0f5, stop:0.5 #e1ecf8, stop:1 #eef5fd);
}

QLabel#ActionGroupNameLabel{
color:#384e73;
}

QTabWidget#MainFrameTab{
background:#bbcee6;
}

QTabWidget#MainFrameTab:pane{
border:1px solid #9fb2c7;
top: -1px;
border-left:0px;
border-right:0px;
}

.QGroupBox{
border:1px solid #b1c0d6;
margin-top:3ex;
border-radius:2px;
}

.QGroupBox::title{
subcontrol-origin:margin;
position:relative;
left:10px;
margin:4px;
}

QLineEdit,QTextEdit,QPlainTextEdit,QSpinBox,QDoubleSpinBox,QComboBox,QDateEdit,QTimeEdit,QDateTimeEdit{
border:1px solid #b1c0d6;
padding:2px;
background:#f7fafd;
selection-background-color:#D7E2F3;
selection-color:#000000;
}

QTextEdit,QPlainTextEdit{
background:white;
}

QLineEdit, QSpinBox, QDoubleSpinBox, QComboBox {
height: 22px;
}

QLineEdit,QTextEdit,QPlainTextEdit,QSpinBox,QDoubleSpinBox,QComboBox,QDateEdit,QTimeEdit,QDateTimeEdit,QLineEdit,QTextEdit,QPlainTextEdit,QSpinBox,QDoubleSpinBox,QComboBox,QDateEdit,QTimeEdit,QDateTimeEdit{
    border-radius:2px;
}

QLineEdit:focus,QTextEdit:focus,QPlainTextEdit:focus,QSpinBox:focus,QDoubleSpinBox:focus,QComboBox:focus,QDateEdit:focus,QTimeEdit:focus,QDateTimeEdit:focus,QLineEdit:hover,QTextEdit:hover,QPlainTextEdit:hover,QSpinBox:hover,QDoubleSpinBox:hover,QComboBox:hover,QDateEdit:hover,QTimeEdit:hover,QDateTimeEdit:hover{
background:white;
}

QPushButton{
border:1px solid #ABABAB;
padding:4px;
min-height:15px;
max-height: 22px;
min-width: 65px;
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #fefeff,stop:1 #f5f6f8);
border-radius:2px;
}

QPushButton#MainFrameBtn{
padding:2px;
border:1px solid #1f48a1;
min-height:22px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #4487e5,stop:0.2 #2d65bb,stop:0.5 #2b61b4,stop:1 #4b8ee1);
color:#ffffff;
}

QPushButton#MainFrameBtn::hover{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #55a1f1,stop:0.2 #3f78d4,stop:0.5 #346abd,stop:1 #5a9be3);
}

QPushButton#MainFrameBtn::pressed{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #2f6cbf,stop:0.2 #255daf,stop:0.5 #285eae,stop:1 #53a1ec);
}

QPushButton#MainFrameBtn::menu-indicator{
image:none;
width:0px;
}

QToolButton {
    border-style: none;
    background: transparent;
    padding:2px;
    border-radius:2px;
}

QToolButton:hover,QPushButton:hover {
    background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #fbedb3,stop:0.5 #fae289,stop:1 #fcf8d9);
    border:1px solid #f0cd52;
    padding: 1px;
}

QToolButton:disabled,QPushButton:disabled {
    background: transparent;
    color: #87929f;
}

QToolButton:pressed,QPushButton:pressed {
    background: #ffe48a;
    border:1px solid #c28636;
    padding: 1px;
}

/*菜单按钮（popupMode为QToolButton::MenuButtonPopup）*/
QToolButton[popupMode="1"] {
padding-right:10px;
}

QToolButton::menu-indicator{
image:none;
}

QToolButton::menu-button {
background:transparent;
subcontrol-position: right center;
subcontrol-origin: margin;
}

QToolButton::menu-button:hover {
border-left:1px solid #f0cd52;
}

QToolButton::menu-button:pressed {
border-left:1px solid #c28636;
}


QToolButton:checked,QPushButton:checked {
    background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #ffe575,stop:0.5 #ffd86c,stop:1 #fff27e);
    border:1px solid #c28636;
    padding: 1px;
}

QMenu{
background-color:#FFFFFF;
border:1px solid #B6B6B6;
padding:2px 2px;
border-radius:2px;
}

QMenu::item{
padding:2px 14px;
padding-right: 24px;
height: 20px;
}

QMenu::icon {
    width: 18px;
    height: 18px;
    padding: 2px;
    left: 4px;
}

QMenu:icon:checked {
    border: 1px solid #f29536;
    border-radius: 2px;
    background: #fcf1c2;
    left: 3px;
}

QMenu::indicator{
    width:14px;
    height:14px;
    padding: 3px;
    left: 4px;
}

QMenu::indicator:checked {
    image: url(:/qss/office2010/checkbox.png);
    border: 1px solid #f29536;
    border-radius: 2px;
    background: #fcf1c2;
    left: 3px;
}

QMenu::indicator:checked:exclusive{
    image: url(:/qss/office2010/radiobutton.png);
}

QMenu::item:selected {
    background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #fbedb3,stop:0.5 #fae289,stop:1 #fcf8d9);
    border: 1px solid #f1ca58;
    border-radius: 2px;
}

QMenu::separator{
height:1px;
background:#D4D4D4;
margin:4px 6px;
}

QMenu QLabel{
background:#f0f2f5;
min-height:20px;
font-weight:bold;
padding-left:4px;
}

QMenuBar{
background:#bbcee6;
padding:2px;
}

QMenuBar::item{
border-radius:2px;
padding:3px 8px;
}

QMenuBar::item:selected {
    background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #fbedb3,stop:0.5 #fae289,stop:1 #fcf8d9);
    border:1px solid #f0cd52;
    padding: 1px;
}

QMenuBar::item:pressed {
    background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #ffe575,stop:0.5 #ffd86c,stop:1 #fff27e);
    border:1px solid #c28636;
    padding: 1px;
}


QTimeEdit::up-button,QDateEdit::up-button,QDateTimeEdit::up-button,QDoubleSpinBox::up-button,QSpinBox::up-button{
image:url(:/qss/office2010/spinUp.png);
width:10px;
height:10px;
padding:1px 3px 1px 3px;
}

QTimeEdit::down-button,QDateEdit::down-button,QDateTimeEdit::down-button,QDoubleSpinBox::down-button,QSpinBox::down-button{
image:url(:/qss/office2010/spinDown.png);
width:10px;
height:10px;
padding:1px 3px 1px 3px;
}


QTimeEdit::up-button:hover,QDateEdit::up-button:hover,QDateTimeEdit::up-button:hover,QDoubleSpinBox::up-button:hover,QSpinBox::up-button:hover,QTimeEdit::down-button:hover,QDateEdit::down-button:hover,QDateTimeEdit::down-button:hover,QDoubleSpinBox::down-button:hover,QSpinBox::down-button:hover,QSpinBox::down-button:hover{
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #fbedb3,stop:0.5 #fae289,stop:1 #fcf8d9);
border:1px solid #f0cd52;
}

QTimeEdit::up-button:pressed,QDateEdit::up-button:pressed,QDateTimeEdit::up-button:pressed,QDoubleSpinBox::up-button:pressed,QSpinBox::up-button:pressed,QTimeEdit::down-button:pressed,QDateEdit::down-button:pressed,QDateTimeEdit::down-button:pressed,QDoubleSpinBox::down-button:pressed,QSpinBox::down-button:pressed,QSpinBox::down-button:pressed{
background: #ffe48a;
border:1px solid #c28636;
}

QComboBox::drop-down:hover,QDateEdit::drop-down:hover,QDateTimeEdit::drop-down:hover{
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #fbedb3,stop:0.5 #fae289,stop:1 #fcf8d9);
border-left:1px solid #f0cd52;
border-top-right-radius:2px;
border-bottom-right-radius:2px;
}

QComboBox::drop-down:pressed,QDateEdit::drop-down:pressed,QDateTimeEdit::drop-down:pressed{
background: #ffe48a;
border-left:1px solid #c28636;
}

QComboBox::down-arrow,QDateEdit[calendarPopup="true"]::down-arrow,QTimeEdit[calendarPopup="true"]::down-arrow,QDateTimeEdit[calendarPopup="true"]::down-arrow{
image:url(:/qss/office2010/arrow_down.png);
width:12px;
height:20px;
right:2px;
margin-left:4px;
}

QComboBox::drop-down,QDateEdit::drop-down,QTimeEdit::drop-down,QDateTimeEdit::drop-down{
subcontrol-origin:padding;
subcontrol-position:top right;
width:15px;
border-left-width:0px;
border-left-style:solid;
border-left-color:#B6B6B6;
}

QComboBox QAbstractItemView{
selection-background-color:#D7E2F3;
selection-color:#000000;
}

QTableView::item:selected{
background:#D7E2F3;
color:#000000;
}

QHeaderView {
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #edf4fb,stop:1 #e4eefa);
}

QHeaderView::section,QTableCornerButton:section{
padding:3px;
margin:0px;
border:1px solid #b9c2d4;
border-left-width:0px;
border-right-width:1px;
border-top-width:0px;
border-bottom-width:1px;
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #edf4fb,stop:1 #e4eefa);
}

QHeaderView::section:selected{
background:#AABFDF
}

QHeaderView::section:pressed{
background:#AABFDF
}

QTabBar::tab{
border:none;
background:transparent;
}

QTabBar::tab:selected{
border:1px solid #C6C6C6;
border-color:#C6C6C6;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #f5faff,stop:1 #f3f8ff);
}

QTabBar::tab:hover:!selected{
border:none;
background:#D7E2F3;
}

QTabBar::tab:hover:selected{
color:#204173;
border:1px solid #df9f02;
}

/*选项卡在上方*/
QTabBar::tab:top{
min-height:24px;
padding:0px 6px;
border-top-left-radius:2px;
border-top-right-radius:2px;
border-bottom-width:0px;
}

QTabBar::tab:top:hover{
border-bottom-width:0px;
}

QTabBar::tab:top:hover:selected{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #fcdd82,stop:1 #f2eed7);
}

/*选项卡在下方*/
QTabBar::tab:bottom{
min-height:24px;
padding:0px 6px;
border-bottom-left-radius:2px;
border-bottom-right-radius:2px;
border-top-width:0px;
}

QTabBar::tab:bottom:hover{
border-top-width:0px;
}

QTabBar::tab:bottom:hover:selected{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #f2eed7,stop:1 #fcdd82);
}

/*选项卡在左侧*/
QTabBar::tab:left{
min-width:24px;
padding:6px 0px;
border-top-left-radius:2px;
border-bottom-left-radius:2px;
border-right-width:0px;
}

QTabBar::tab:left:hover{
border-right-width:0px;
}

QTabBar::tab:left:hover:selected{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #fcdd82,stop:1 #f2eed7);
}

/*选项卡在右侧*/
QTabBar::tab:right{
min-width:24px;
padding:6px 0px;
border-top-right-radius:2px;
border-bottom-right-radius:2px;
border-left-width:0px;
}

QTabBar::tab:right:hover{
border-left-width:0px;
}

QTabBar::tab:right:hover:selected{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #f2eed7,stop:1 #fcdd82);
}

QTabWidget:pane{
border:1px solid #b1c0d6;
background:#f3f8ff;
}

QTabWidget:pane:top{
top: -1px;
}

QTabWidget:pane:bottom{
bottom: -1px;
}

QTabWidget:pane:left{
left: -1px;
}

QTabWidget:pane:right{
right: -1px;
}

QTabBar#MainFrameTabBar::tab {
background:transparent;
padding:0px 10px;
margin:0px 1px;
}

QTabBar#MainFrameTabBar::tab:selected{
border:1px solid #C6C6C6;
border-bottom:0px;
color:#204173;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #f5faff,stop:1 #eff6fd);
}

QTabBar#MainFrameTabBar::tab:hover:!selected{
color:#204173;
border:1px solid #b1b5ba;
background:#c8d7ea;
border-bottom-width:0px;
}

QListView,QTreeView,QTableView{
border:1px solid #b1c0d6;
}

QListView::item,QTreeView::item{
min-height:22px;
}

QListView::item:hover,QTreeView::item:hover,QComboBox QListView::item::selected{
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #fbedb3,stop:0.5 #fae289,stop:1 #fcf8d9);
border:1px solid #f0cd52;
padding: -1px;
}

QListView::item:selected,QTreeView::item:selected{
color:#1e395b;
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #ffe575,stop:0.5 #ffd86c,stop:1 #fff27e);
border:1px solid #c28636;
padding: -1px;
}

QListView::item:hover, QListView::item:selected {
    border-radius:2px;
}

QTreeView::item:selected, QTreeView::item:hover {
    border-left-width: 0px;
    border-right-width: 0px;
}

QTreeView::item:first:selected, QTreeView::item:first:hover {
    border-left-width: 1px;
    border-top-left-radius:2px;
    border-bottom-left-radius:2px;
}

QTreeView::item:last:selected, QTreeView::item:last:hover {
    border-right-width: 1px;
    border-top-right-radius:2px;
    border-bottom-right-radius:2px;
}

QTreeView::item:only-one:selected, QTreeView::item:only-one:hover {
    border-width: 1px;
    border-radius: 2px;
}

QTreeView::branch{
background:#ffffff;
padding:4px;
}

QTreeView::branch:closed:has-children{
image:url(://qss/office2010/branch_close.png);
}

QTreeView::branch:open:has-children{
image:url(://qss/office2010/branch_open.png);
}

QTreeView::branch:closed:hover:has-children{
image:url(://qss/office2010/branch_close_hover.png);
}

QTreeView::branch:open:hover:has-children{
image:url(://qss/office2010/branch_open_hover.png);
}

QCheckBox::indicator, QGroupBox::indicator, QTreeView::indicator, QListView::indicator, QTableView::indicator {
    width: 12px;
    height: 12px;
    background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #e8e9eb,stop:1 #f2f2f3);
    border: 1px solid #aabfdf;
}

QRadioButton::indicator {
    width: 12px;
    height: 12px;
    background: #f4f4f4;
    border: 1px solid #888a8b;
    border-radius: 7px;
}

QCheckBox::indicator:hover, QGroupBox::indicator:hover, QTreeView::indicator:hover, QListView::indicator:hover, QTableView::indicator:hover, QRadioButton::indicator:hover {
    background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #faecc8,stop:1 #fdf6e4);
    border: 1px solid #cf9037;
}

QCheckBox::indicator:checked, QGroupBox::indicator:checked, QTreeView::indicator:checked, QListView::indicator:checked, QTableView::indicator:checked {
    image: url(:/qss/office2010/checkbox.png);
}

QCheckBox::indicator:indeterminate, QGroupBox::indicator:indeterminate, QTreeView::indicator:indeterminate, QListView::indicator:indeterminate, QTableView::indicator:indeterminate {
    image: url(:/qss/office2010/checkbox_parcial.png);
}

QRadioButton::indicator:checked {
    image: url(:/qss/office2010/radiobutton.png);
}

QCheckBox::indicator:disabled, QGroupBox::indicator:disabled, QTreeView::indicator:disabled, QListView::indicator:disabled, QTableView::indicator:disabled, QRadioButton::indicator:disabled {
    background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #f8f8f9,stop:1 #fbfbfb);
    border: 1px solid #b6b8ba;
}

QStatusBar{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #d0ddee,stop:1 #b5c5d9);
}

QDockWidget::title{
background:#b1c3d9;
text-align: left;
}

QDockWidget::close-button, QDockWidget::float-button {
border-radius: 2px;
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover {
background: #fbedb3;
border:1px solid #f0cd52;
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed {
background: #ffe48a;
border:1px solid #c28636;
}

QSlider::groove{
background:#deeaf7;
}

QSlider::groove::horizontal{
height: 1px;
border-top:1px solid #8a9cb8;
}

QSlider::groove::vertical{
width: 1px;
border-left:1px solid #8a9cb8;
}

QSlider::handle{
border:1px solid #738399;
border-radius:2px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #f7fbfe,stop:1 #c8d5e7);
}

QSlider::handle:horizontal{
width:8px;
margin-top:-6px;
margin-bottom:-6px;
}

QSlider::handle:vertical{
height:8px;
margin-left:-6px;
margin-right:-6px;
}

QSlider::handle:hover{
border-color:#f0c134;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #ffeb9c,stop:1 #ffe586);
}

QSlider::handle:pressed{
border-color:#c28535;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #f5c765,stop:1 #fcde83);
}

/*滚动条*/
QScrollBar {
padding: 0px;
}

QScrollBar:horizontal {
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #a5bbd3,stop:1 #bbcee4);
}
QScrollBar:vertical {
background: qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #a5bbd3,stop:1 #bbcee4);
}

QScrollBar::handle {
border: 1px solid #5c7796;
border-radius:2px;
}

QScrollBar::handle:horizontal {
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #b9cee6,stop:1 #91abc9);
min-width: 24px;
margin-left: 16px;
margin-right: 16px;
}

QScrollBar::handle:vertical {
background: qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #b9cee6,stop:1 #91abc9);
min-height: 24px;
margin-top: 16px;
margin-bottom: 16px;
}

QScrollBar::handle:horizontal:hover{
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #c1d7f0,stop:1 #a3bedb);
}

QScrollBar::handle:vertical:hover{
background: qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #c1d7f0,stop:1 #a3bedb);
}

QScrollBar::handle:horizontal:pressed{
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #b0c7de,stop:1 #89a4c1);
}

QScrollBar::handle:vertical:pressed{
background: qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #b0c7de,stop:1 #89a4c1);
}

/*handle前后的空白*/
QScrollBar::add-page, QScrollBar::sub-page {
    background: none;
}

/*滚动条两端的按钮*/
QScrollBar::add-line, QScrollBar::sub-line {
background: none;
border: none;
border-radius:2px;
}

QScrollBar::add-line:hover, QScrollBar::sub-line:hover {
    border: 1px solid #5c7796;
}

QScrollBar::add-line:horizontal:hover, QScrollBar::sub-line:horizontal:hover {
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #c1d7f0,stop:1 #a3bedb);
}

QScrollBar::add-line:vertical:hover, QScrollBar::sub-line:vertical:hover {
background: qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #c1d7f0,stop:1 #a3bedb);
}

QScrollBar::add-line:pressed, QScrollBar::sub-line:pressed {
border: 1px solid #5c7796;
}

QScrollBar::add-line:horizontal:pressed, QScrollBar::sub-line:horizontal:pressed {
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #b0c7de,stop:1 #89a4c1);
}

QScrollBar::add-line:vertical:pressed, QScrollBar::sub-line:vertical:pressed {
background: qlineargradient(spread:pad,x1:0,y1:0,x2:1,y2:0,stop:0 #b0c7de,stop:1 #89a4c1);
}

QScrollBar::sub-line:horizontal {
    image: url(://qss/office2010/arrow_left.png);
}

QScrollBar::add-line:horizontal {
    image: url(://qss/office2010/arrow_right.png);
}

QScrollBar::sub-line:vertical {
    image: url(://qss/office2010/arrow_up.png);
}

QScrollBar::add-line:vertical {
    image: url(://qss/office2010/arrow_down.png);
}

QScrollArea {
border:1px solid #b1c0d6;
border-radius:2px;
}

QScrollArea .QWidget{
background:#f3f8ff;
}

QAbstractButton#zoomInBtn{
width:16px;
height:16px;
image: url(://qss/office2010/zoomin.png);
color: transparent;
}

QAbstractButton#zoomOutBtn{
width:16px;
height:16px;
image: url(://qss/office2010/zoomout.png);
color: transparent;
}

QAbstractButton#zoomInBtn:hover{
image: url(://qss/office2010/zoomin_hover.png);
background: none;
border: none;
}

QAbstractButton#zoomOutBtn:hover{
image: url(://qss/office2010/zoomout_hover.png);
background: none;
border: none;
}

QAbstractButton#zoomInBtn:pressed{
image: url(://qss/office2010/zoomin_pressed.png);
}

QAbstractButton#zoomOutBtn:pressed{
image: url(://qss/office2010/zoomout_pressed.png);
}

QCalendarWidget QWidget#qt_calendar_navigationbar{
background:#e1ecf8;
}

QCalendarWidget QAbstractItemView:enabled{
selection-background-color:#D7E2F3;
selection-color:#1e395b;
}

QSplitter::handle {
background:#a6bede;
}

QProgressBar {
text-align: center;
border: 1px solid #6e97cc;
border-radius: 2px;
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #c6cbd5, stop:0.5 #dbe0e9, stop:1 #e0e4ed);
}

QProgressBar::chunk {
background:qconicalgradient(cx:1.0, cy:0.5, angle:180, stop:0 #689128, stop:0.8 #d9f5ac, stop:0.4 #c5e690, stop:1 #9ebe6d);
}

QLabel[video="true"]{
border:1px solid #afc2dd;
border-radius:2px;
background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #ecf2f8,stop:1 #cfdbeb);
}

QLabel[video="true"]:hover{
/*background: qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #fbedb3,stop:0.5 #fae289,stop:1 #fcf8d9);*/
border:1px solid #f0cd52;
}

QWidget[nav="left"]{
background:qlineargradient(spread:pad,x1:0,y1:0,x2:0,y2:1,stop:0 #edf5fc,stop:1 #c4d5eb);
}

QWidget[nav="left"] QAbstractButton{
border:none;
background:none;
min-height: 26px;
min-width: 80px;
}

QWidget[nav="top"] QAbstractButton{
border:none;
background:none;
min-height: 26px;
min-width: 48px;
}

QWidget[nav="left"] QAbstractButton:hover, QWidget[nav="top"] QAbstractButton:hover{
background-color:#e7f1fb;
border:1px solid #527de0;
border-radius: 2px;
margin: 4px;
}

QWidget[nav="left"] QAbstractButton:checked,QWidget[nav="left"] QAbstractButton:pressed, QWidget[nav="top"] QAbstractButton:checked,QWidget[nav="top"] QAbstractButton:pressed{
color:white;
border-style:solid;
border-radius: 0px;
border-color:#3356b1;
background:qradialgradient(spread:pad,cx:0.5, cy:1, radius:1, fx:0.5, fy:1, stop:0 #63abf8, stop:1 #1861c6);
margin: 0px;
}

QWidget[nav="left"] QAbstractButton:checked,QWidget[nav="left"] QAbstractButton:pressed{
border-width:1px 0px 1px 0px;
}

QWidget[nav="top"] QAbstractButton:checked,QWidget[nav="top"] QAbstractButton:pressed{
border-width:1px;
}

*:disabled {
    color: #87929f;
}
