QPalette{background:#FFFFFF;}*{outline:0px;color:#262626;}

QMessageBox {
    background: #FFFFFF;
}

QToolBar#MainFrameToolbar {
    background: #f3f3f3;
    padding:2px;
}

QToolBar#MainFrameToolbar::separator {
    background: #b1b1b1;
    margin: 4px;
    width: 1px;
}

QToolBar#MainFrameCornerBar {
    min-height: 30px;
}

QToolBar#MainFrameCornerBar QToolButton {
    color: #ffffff;
}

QToolBar#MainFrameCornerBar QToolButton:hover {
    background: #124078;
}

QToolBar#MainFrameCornerBar QToolButton:pressed {
    background: #002050;
}

QToolBar#MainFrameCornerBar QToolButton:checked {
    background: #AABFDF;
    color: #262626
}

QTabWidget#MainFrameTab {
    background: #2b579a;
}

QTabWidget#MainFrameTab:pane {
    border: none;
    border-bottom: 1px solid #C6C6C6;
    top: 0px;
}

.QGroupBox{
border:1px solid #C6C6C6;
margin-top:3ex;
}

.QGroupBox::title{
subcontrol-origin:margin;
position:relative;
left:10px;
margin:4px;
}

QLineEdit,QTextEdit,QPlainTextEdit,QSpinBox,QDoubleSpinBox,QComboBox,QDateEdit,QTimeEdit,QDateTimeEdit{
border:1px solid #ABABAB;
padding:2px;
background:none;
selection-background-color:#D7E2F3;
selection-color:#000000;
}

QLineEdit, QSpinBox, QDoubleSpinBox, QComboBox {
height: 22px;
}

QLineEdit:focus,QTextEdit:focus,QPlainTextEdit:focus,QSpinBox:focus,QDoubleSpinBox:focus,QComboBox:focus,QDateEdit:focus,QTimeEdit:focus,QDateTimeEdit:focus,QLineEdit:hover,QTextEdit:hover,QPlainTextEdit:hover,QSpinBox:hover,QDoubleSpinBox:hover,QComboBox:hover,QDateEdit:hover,QTimeEdit:hover,QDateTimeEdit:hover{
border:1px solid #4a78b0;
}

QLineEdit:hover, QTextEdit:hover, QPlainTextEdit:hover, QSpinBox:hover, QDoubleSpinBox:hover, QDateEdit:hover, QTimeEdit:hover, QDateTimeEdit:hover{
    background: #e3ecfa;
}

QPushButton {
    color: #000000;
    border: 1px solid #ABABAB;
    padding: 4px;
    min-height: 15px;
    max-height: 22px;
    min-width: 65px;
    background: #F1F1F1;
}

QPushButton:hover {
background: #D7E2F3;
}

QPushButton:pressed {
background: #AABFDF;
}

QPushButton:disabled {
color: #8D8D8D;
}

QPushButton#MainFrameBtn{
padding:2px;
border:none;
min-height:24px;
background:#2B579A;
color:#ffffff;
}

QPushButton#MainFrameBtn::hover{
background:#124078;
}

QPushButton#MainFrameBtn::pressed{
background:#002050;
}

QPushButton#MainFrameBtn::menu-indicator{
image:none;
width:0px;
}

QToolButton {
border-style: none;
background: transparent;
padding:2px;
}

QToolButton:hover {
background: #D7E2F3;
}

QToolButton:disabled {
    background: transparent;
    color: #8D8D8D;
}

QToolButton:pressed {
    background: #AABFDF;
}

/*菜单按钮（popupMode为QToolButton::MenuButtonPopup）*/
QToolButton[popupMode="1"] {
padding-right:10px;
}

QToolButton::menu-indicator{
image:none;
}

QToolButton::menu-button {
background:transparent;
subcontrol-position: right center;
subcontrol-origin: margin;
}

QToolButton:checked{
    background: #AABFDF;
}

QToolBar#MainFrameToolbar QToolButton:hover {
    background: #d2d2d2;
}

QToolBar#MainFrameToolbar QToolButton:pressed {
    background: #b1b1b1;
}

QToolBar#MainFrameToolbar QToolButton[popupMode="1"]:pressed {
    border: 1px solid #808080;
    padding: 1px;
    background: #c6c6c6;
}

QToolBar#MainFrameToolbar QToolButton[popupMode="2"]:pressed {
    border: 1px solid #808080;
    padding: 1px;
    background: #c6c6c6;
}

QToolBar#MainFrameToolbar QToolButton::menu-button:pressed {
    border-left: 1px solid #808080;
}

QToolBar#MainFrameToolbar QToolButton:checked {
    background: #c6c6c6;
    border: 1px solid #808080;
    padding: 1px;
}

QToolBar#MainFrameToolbar QToolButton:hover:checked {
    background: #737373;
    color: #ffffff;
    border: 1px solid #949494;
    padding: 1px;
}

QMenu {
    background-color: #FFFFFF;
    border: 1px solid #c8c6c4;
    padding: 1px 1px;
}

QMenu::item {
    padding: 2px 14px;
    padding-right: 24px;
    height: 20px;
}

QMenu::item:disabled {
    color: #b1b1b1;
}

QMenu::icon {
margin-left: 14px;
}

QMenu::indicator{
width:16px;
height:16px;
}

QMenu::item:selected {
    border: 0px;
    background: #c5c5c5;
}

QMenu::item:disabled:selected {
    background: transparent;
}

QMenu::separator {
    height: 1px;
    background: #e0e3e6;
    margin: 4px 6px;
}


QTimeEdit::up-button, QDateEdit::up-button, QDateTimeEdit::up-button, QDoubleSpinBox::up-button, QSpinBox::up-button {
    image: url(:/qss/office2016/spinUpBtn.png);
    width: 10px;
    height: 10px;
    padding: 1px 3px 1px 3px;
}

QTimeEdit::down-button, QDateEdit::down-button, QDateTimeEdit::down-button, QDoubleSpinBox::down-button, QSpinBox::down-button {
    image: url(:/qss/office2016/spinDownBtn.png);
    width: 10px;
    height: 10px;
    padding: 1px 3px 1px 3px;
}


QTimeEdit::up-button:hover,QDateEdit::up-button:hover,QDateTimeEdit::up-button:hover,QDoubleSpinBox::up-button:hover,QSpinBox::up-button:hover,QTimeEdit::down-button:hover,QDateEdit::down-button:hover,QDateTimeEdit::down-button:hover,QDoubleSpinBox::down-button:hover,QSpinBox::down-button:hover,QSpinBox::down-button:hover{
background:#D7E2F3;
}

QTimeEdit::up-button:pressed,QDateEdit::up-button:pressed,QDateTimeEdit::up-button:pressed,QDoubleSpinBox::up-button:pressed,QSpinBox::up-button:pressed,QTimeEdit::down-button:pressed,QDateEdit::down-button:pressed,QDateTimeEdit::down-button:pressed,QDoubleSpinBox::down-button:pressed,QSpinBox::down-button:pressed,QSpinBox::down-button:pressed{
background:#AABFDF;
}

QComboBox {
    border: 1px solid #949494;
}

QComboBox[editable="true"]::drop-down {
    border-left: 1px solid #949494;
    background: #e6e6e6;
}

QComboBox[editable="false"] {
    background: #e6e6e6;
    border: 1px solid #949494;
}

QComboBox[editable="false"]::drop-down:hover {
    background: none;
    border-left: none;
}

QComboBox[editable="false"]:hover {
    background: #D7E2F3;
}

QComboBox::drop-down:hover, QDateEdit::drop-down:hover, QDateTimeEdit::drop-down:hover {
    background: #D7E2F3;
    border-left: 1px solid #4a78b0;
}

QComboBox::drop-down:pressed, QDateEdit::drop-down:pressed, QDateTimeEdit::drop-down:pressed {
    background: #AABFDF;
    border-left: 1px solid #4a78b0;
}

QComboBox[editable="false"]::drop-down:pressed {
    background: none;
    border-left: none;
}

QComboBox[editable="false"]:on {
    background: #a5b9d1;
    border: 1px solid #3c65a4;
}

QComboBox::down-arrow, QDateEdit[calendarPopup="true"]::down-arrow, QTimeEdit[calendarPopup="true"]::down-arrow, QDateTimeEdit[calendarPopup="true"]::down-arrow {
    image: url(:/qss/office2016/downArrow.png);
    width: 12px;
    height: 12px;
    right: 2px;
    margin-left: 4px;
}

QComboBox::drop-down,QDateEdit::drop-down,QTimeEdit::drop-down,QDateTimeEdit::drop-down{
subcontrol-origin:padding;
subcontrol-position:top right;
width:15px;
border-left-width:0px;
border-left-style:solid;
border-left-color:#B6B6B6;
}

QComboBox QAbstractItemView{
selection-background-color:#D7E2F3;
selection-color:#000000;
}

/*QTableView::item:selected {
    background: #D7E2F3;
    color: #000000;
}
*/

QHeaderView {
    background: #ffffff;
}

QHeaderView::section, QTableCornerButton:section {
    padding: 3px;
    margin: 0px;
    border: 1px solid #949494;
    border-left-width: 0px;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 1px;
    background: #f0f0f0;
}

QTreeView QHeaderView::section:horizontal, QListView QHeaderView::section:horizontal {
    border-right-width: 0px;
}

QHeaderView::section:pressed {
    background: #AABFDF
}

QTabBar::tab {
    border: none;
    background: transparent;
}

QTabBar::tab:top, QTabBar::tab:bottom {
    border-bottom: 4px solid transparent;
    min-height: 24px;
    margin: 0px 12px;
}

QTabBar::tab:left {
    border-right: 4px solid transparent;
    min-width: 24px;
    margin: 12px 0px;
}

QTabBar::tab:right {
    border-left: 4px solid transparent;
    min-width: 24px;
    margin: 12px 0px;
}

QTabBar::tab:selected{
    color:#2b579a;
    font: bold;
    border-bottom-color: #2b579a;
}

QTabBar::tab:top:selected, QTabBar::tab:bottom:selected {
    border-bottom-color: #2b579a;
}

QTabBar::tab:left:selected {
    border-right-color: #2b579a;
}

QTabBar::tab:right:selected {
    border-left-color: #2b579a;
}

QTabBar::tab:hover:!selected{
    color:#2b579a;
}

QTabWidget:pane{
border: none;
/*top: -1px;*/
}

QTabBar#MainFrameTabBar::tab {
    color: #ffffff;
    background: #2b579a;
    padding: 0px 12px;
    margin: 0px;
    min-height: 30px;
    border: none;
}

QTabBar#MainFrameTabBar::tab:selected {
    border: none;
    border-bottom: 0px;
    color: #2b579a;
    background: #f3f3f3;
    font: normal;
}

QTabBar#MainFrameTabBar::tab:hover:!selected {
    color: #ffffff;
    background: #124078;
}

QListView, QTreeView, QTableView {
    border: 1px solid #949494;
}

QListView::item:hover, QTreeView::item:hover, QTableView::item:hover {
    background: #e6e6e6;
}

QListView::item:selected, QTreeView::item:selected, QTableView::item:selected {
    color: #262626;
    background: #d2d2d2;
}

QListView::item:selected, QTreeView::item:selected{
    border: 1px solid #808080;
}

QTreeView::item:selected {
    border-left-width: 0px;
    border-right-width: 0px;
}

QTreeView:item:first:selected {
    border-left-width: 1px;
}

QTreeView:item:last:selected {
    border-right-width: 1px;
}

QTreeView:item:only-one:selected {
    border-width: 1px;
}

/*
QCheckBox::indicator, QGroupBox::indicator, QTreeWidget::indicator, QListWidget::indicator {
    width: 12px;
    height: 12px;
}

QCheckBox::indicator:unchecked,QGroupBox::indicator:unchecked,QTreeWidget::indicator:unchecked,QListWidget::indicator:unchecked{
image:url(:/qss/office2013/checkbox_unchecked.png);
}

QCheckBox::indicator:checked,QGroupBox::indicator:checked,QTreeWidget::indicator:checked,QListWidget::indicator:checked{
image:url(:/qss/office2013/checkbox_checked.png);
}

QRadioButton::indicator{
width:12px;
height:12px;
}

QRadioButton::indicator::unchecked{
image:url(:/qss/office2013/radiobutton_unchecked.png);
}

QRadioButton::indicator::checked{
image:url(:/qss/office2013/radiobutton_checked.png);
}
*/

QStatusBar {
    background: #f3f3f3;
    border-top: 1px solid #c6c6c6;
}

*:disabled {
    color: #b1b1b1;
}
